---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const publishedPosts = await getCollection('posts', ({data})=>{
	return data.draft !== true;
});

const title = "Blog";
---

<BaseLayout title={title}>
	<h2>Blog posts--</h2>
	<>
		{ publishedPosts.map( (post) => (
			<li>
				<a href={`/blog/${post.slug}`}>{post.slug}</a>
				<p>published {post.data.pubDate} by {post.data.author}</p>
			</li>
		))}
	</ul>
</BaseLayout>
