---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection('posts');

const title = "Blog";
---

<BaseLayout title={title}>
	<h1>{title}</h1>
	<h2>Blog posts--</h2>
	<>
		{ posts.map( (post) => (
			<li>
				<a href={post.slug}>{post.slug}</a>
				<p>published {post.data.pubDate} by {post.data.author}</p>
			</li>
		))}
	</ul>
</BaseLayout>
