---
import { Debug } from 'astro/components';
import About from "../pages/about.astro";
const { post } = Astro.props;
const { title, category, tags, description } = post.data;
---
<a href=`/blog/${post.slug}` class="card">
  <div class:list={['header', `${category}`]}>
    <div class="cat">
      {category}
    </div>
  </div>
  <div class="taglist">
    <ul class="tags">
      { tags.map( (tag) => <li class="tag">{tag}</li>) }
    </ul>
  </div>
  <div class="title">{title}</div>
  <div class="description">{description}</div>
  <div class="more"><p>Read post --&gt;</p></div>
</a>


<style>
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  	box-shadow: 2px 4px 12px var(--clr-black);
  }
  
  .header {
    font-size: 1.2em;
    font-family: var(--ff-headings);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-900);
    padding-inline: .5em;
    padding-bottom: 3em;
    border-radius: 10px 10px 0 0;
    background-color: var(--clr-primary-500);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
  }

  .Gear { background-image: url('../assets/images/gear.jpg'); }

  .Crew { background-image: url('../assets/images/crew.jpg'); }

  .Racing { background-image: url('../assets/images/racing.jpg'); }

  .Training { background-image: url('../assets/images/training.jpg'); }

  .Nutrition{ background-image: url('../assets/images/nutrition.jpg'); }
  
  .title, .description, .more {
    padding: 0 .5rem;
  }

  .description {
    line-height: 1.4em;
  }
  
  .title {
    font-family: var(--ff-headings);
    font-size: 1.2em;
    line-height: 1em;
    margin: .5em 0;
  }

  .taglist {
    font-family: var(--ff-base);
    font-weight: var(--fw-semibold);
    font-size: small;
    color: var(--clr-secondary-500);
    margin: 0;
    margin-top: .2em;
  }
  .tags {
    display: flex;
    justify-content: flex-start;
    gap: .5em;
  }

ul {
    margin: 0 .5em;
    padding:0;
  }

  .tags li {
    list-style-type: none;
    border: 2px solid var(--clr-secondary-500);
    border-radius: 4px;
    padding: 0.1rem 0.2rem;
  }

  .more {
    color: var(--clr-primary-900);
    font-family: var(--ff-headings);
    align-self: center;
  }
    
</style>